<h1><%= @page_title = "Select Topic" %>:</h1>


<ul id="topicList">
<% @topics.each do |topic| %>
	<li>
		<a href="<%= url_for(topic) %>">
	  	<h2><%= topic.title %></h2>
	  	<div><%= textilize(topic.description) %></div>
		</a>
	</li>
<% end %>
</ul>