<h1><%= @page_title = "Select Topic" %>:</h1>


<dl id="topicList">
<% @topics.each do |topic| %>
  <dt><%= link_to topic.title, topic %></dt>
  <dd><%= link_to textilize(topic.description), topic %></dd>
<% end %>
</dl>