<% @page_title = h(@topic.title) %>

<p>topic tags: <%= @topic.tags.join(', ') %></p>

<% @topic.items.published.find(:all, :include => :tags).each do |item| %>
  <div class="item">
    <%= render :partial => '/items/' + item.type.to_s.downcase, :locals => {:item => item} %>
  </div>
<% end %>