/* @override 
	http://nokahuna.dev:3000/stylesheets/application.css
	http://localhost:3000/stylesheets/application.css
*/

body {
  font-family: arial, sans-serif;
  font-size: 0.9em;
  background-image:url('http://www.wag-architecture.co.uk/opentables/background_white.jpg');
	margin: 0px;
	padding: 0px;
}

div.item {
	float: left;
	height: 150px;
	width: 200px;
	overflow: hidden;
	margin: 0px 1.5em 1.5em 0px;
	border: 2px solid #EEE;
	 -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

div.item img {
	border-width: 0px;
}

div.photo img {
	width: 200px;
}

a.showAll {
  font-weight: bold;
  font-size: 1.1em;
}

.article {
  padding: 0px 0.5em;
}

.article h3 {
  font-size: 1em;
  margin: 0.5em 0px;
}

.link p {
  margin: 0.5em;
  font-size: 1.2em;
}

.item:hover {
  border: 2px solid #03A5D6;
}

p.itemTopic {
  padding: 0.5em 1em;
  margin: 0px 0px 2em 0px;
  background-color: #a4d2eb;
  	 -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 1.3em;
}

p.itemTopic a {
  font-weight: bold;
  color: #005888;
  margin: 0px 0.5em;
}

#wrap {

}

#content {
   background-color: #FFF;
  padding: 1em;
  margin-top: 1em;
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
}

.main {
  width: 69%;
  padding: 0px;
  float: left;
}

.second {
  width: 28%;
  padding: 0px;
  float: right;
  margin-left: 2%;
}

.clearThis {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 1px;
}

h1 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 0px;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

h1 a.changeTopic {
  font-size: 0.7em;
  margin-left: 0.5em;
}


.mainSize {
  width: 80%;
  margin: 0px auto;
  min-width: 740px;
  max-width: 70em; 
}


#topicNav {
 float: right; 
}

#quickSearch {
  float: right;
  margin-left: 1em;
}

#quickSearch form {
  margin: 0px;
  padding:0.4em 0.5em;
	border-width: 0px;
	background-color: #FFF;
	border-width: 0px;
}


#quickSearch input#tags {
 font-size: 0.8em;
 width:6em;
}

#topicNav a {
  padding: 0.5em 1em;
  float:right;
  font-size: 1em;
  font-weight: bold;
}

a { color: #03A5D6; }
a:visited { color: #03A5D6; }


#head {
  height: 80px;
  background-color: #FFF;
  margin: 0px auto;
 -moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
}

a#logo {
  display: block;
  height: 80px;
  margin: 0px;
  padding: 0px;
  width:220px;
  text-indent: -6000px;
  background: transparent url(/images/ot_white.jpg) no-repeat 10px 9px;
  }

div.notice {
  text-align: center;
  padding: 0.5em;
  background-color: #999;
  color: #FFF;
    	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
 
#mainNav {
  list-style: none;
  float: right;
  margin:1em 1em 0px 0px;
  padding: 0px;
}

#mainNav li {
	float: left;
}

#mainNav a {
	padding: 1em 0.5em;
}
  
 

form {
  background-color: #d7e9f1;
  padding: 0.5em 1em;
  border: 1px solid #c1d1d8;
}
  
form p {
	margin: 1em 0px;
}

form label {
	display: block;
	margin: 0.5em 0px;
	color: #666;
}

form textarea {
	font-size: 1.2em;
	height:5em;
	width: 80%;
}

form p.right label {
  display: inline;
  margin-left: 0.5em;
}
input[type="text"], input[type="password"] {
	font-size: 1.2em;
}

ul#topicList {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul#topicList li {
  padding: 0px;
}

ul#topicList a {
	display: block;
	padding: 1em 0.5em;
	text-decoration: none;
	margin-left: -0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

ul#topicList a:hover {
	background-color: #dbe7ef;
	
}

ul#topicList h2 {
	font-size: 1.3em;
	margin: 0px;
	text-decoration: underline;
}


ul#topicList p {
	font-size: 1.1em;
	margin: 0.5em 0px 0.5em 0.5em;
	color: #666;

}

form select {
	font-size: 1.1em;
	width: 15em;
}

form input[type="submit"] {
	font-size: 1.4em;
	}
	
	
.topicTags {
  font-size: 1.2em;
  color: #666;
  margin-top: 0px;
}

#tagFilter {
  background-color: #EEE;
  padding: 1em 1em 1em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #DDD;
}

#tagFilter ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 1.5em;
}

#tagFilter h2 {
  margin-top: 0px;
  font-size: 1em;
}



#footer {
  background-color: #FFF;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#footer ul {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

#footer li {
  display: inline;
  margin-right: 1em;
}

#tags {
	padding: 0;
}

#tags li {
	list-style: none;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 0.3em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #EEE;
}

#tags .set {
  background-color: #bdeb7e;
}

#tags a {
	text-decoration: underline;
	color: #999;
}

#tags a:hover {
	text-decoration: underline;
}


#tags .set a {
  color: #3b611e;
}

#tags .set .delete {
	float: right;
	text-decoration: none;
	color: #933;
	text-transform: uppercase;
	font-size: 0.8em;
}

#tags .add {
	float: right;
	text-decoration: none;
	color: #3b611e;
	text-transform: uppercase;
	font-size: 0.8em;
}

#tags .add:hover {
  color: #5a952e;
}

#tags .delete:hover {
	color: #F00;
}


#reasons ul, #reasons ol{
  line-height: 1.4em;
  margin-bottom: 2em;
}

#reasons li {
  margin-bottom: 0.5em;
}


#sorting {
	margin: 3em 0px 1em 0px;
}


#sorting span {
  float: left;
  width: 40%;
}

#sorting span a {
  font-size: 1.3em;
  display: block;
  text-decoration: underline;
  background-color: #EEE;
  text-align: center;
  padding: 0.6em 0px;
  margin-top: 0.2em;
}

#sorting span a:hover {
  background-color: #d5e3ed;
}



#sorting span.set {
  font-size: 1.3em;
  display: block;
  text-decoration: none;
  background-color: #5ca5d6;
  text-align: center;
  padding: 0.8em 0px;
  font-weight: bold;
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}