
<div class="article">
	<h3><%= link_to item.title, item_url(item) %></h3>
	<%= link_to h(item.title), item.source, :class => "source" unless item.source.blank? %>
  <%= textilize(truncate(item.body, 500)) %>
</div>