<div class="video">
	<%= item.body %>

<% if item.source and item.source.match(/youtube/) %>
<object width="425" height="344"><param name="movie" value="<%= item.video_url %>"></param><param name="allowFullScreen" value="true"></param><embed src="<%= item.video_url %>" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object>
<% end %>

<%= link_to_unless item.source.nil? 'from %s' % item.source_short, item.source, :class => 'source' %>
</div>