<% @page_title = 'Edit item' %>

<%= error_messages_for :item %>

<% form_for(:item, @item, :url => item_url(@item), :html => { :method => :put}) do |f| %>
  <%= render :partial => 'form' , :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
