<%
if params[:tags]
  @page_title = 'items for %s' % [params[:tags]].join(', ')
else
  @page_title = 'items' 
end
%>

<% @items.each do |item| %>
  <div class="item">
    <%= render :partial => item.type.to_s.downcase, :locals => {:item => item } %>
  </div>
<% end %>