<%
  @page_title = 'items' 
  @page_title += ' for %s' % [params[:tags]].join(', ') if params[:tags]
  @page_title += ' in %s' % @topic.title if @topic
%>

<% @items.each do |item| %>
  <div class="item">
    <h3><%= link_to item.title, item_url(item) %></h3>
    <%= render :partial => item.type.to_s.downcase, :locals => {:item => item } %>
  </div>
<% end %>